<a href="https://colab.research.google.com/github/usshaa/BK_Birla/blob/main/00-Python/00-Complete_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Variables and Data Types**
Variables are used to store data.  Data types specify the kind of data a variable holds.

In [ ]:
# Examples:
name = "Alice"  # String
age = 30       # Integer
height = 5.8   # Float
is_student = True # Boolean
print(f"{name} is {age} years old and {height} feet tall.  Is she a student?: {is_student}")

Alice is 30 years old and 5.8 feet tall.  Is she a student?: True

In [ ]:
# String manipulation
message = "Hello, World!"
print(message.upper())  # Convert to uppercase
print(len(message))     # Get the length of the string
print(message.replace("World", "Python")) # Replace a substring

HELLO, WORLD!
13
Hello, Python!

In [ ]:
# Integer operations
number1 = 10
number2 = 5
print(number1 + number2)  # Addition
print(number1 - number2) # Subtraction
print(number1 * number2) # Multiplication

15
5
50

In [ ]:
# Float operations
float1 = 3.14
float2 = 2.71
print(float1 / float2) # Division
print(round(float1 * float2, 2)) # Multiplication and round to 2 decimals

1.1586715867158672
8.51

In [ ]:
# Boolean operations
is_true = True
is_false = False
print(is_true and is_false)  # Logical AND
print(is_true or is_false)   # Logical OR
print(not is_true)         # Logical NOT

False
True
False

In [ ]:
# Type conversion
string_number = "123"
converted_number = int(string_number)
converted_number + 1

124

# Operators

**Operators in Python:**
Operators are special symbols or characters that perform specific operations on values or variables (operands).

**Types of Operators:**

**1. Arithmetic Operators:** Perform mathematical calculations.

In [ ]:
# Examples:
a = 10
b = 5

In [ ]:
# Addition
sum_result = a + b  # sum_result will be 15
print(f"Sum: {sum_result}")

Sum: 15

In [ ]:
# Subtraction
diff_result = a - b # diff_result will be 5
print(f"Difference: {diff_result}")

Difference: 5

In [ ]:
# Multiplication
product_result = a * b # product_result will be 50
print(f"Product: {product_result}")

Product: 50

In [ ]:
# Division
quotient_result = a / b  # quotient_result will be 2.0 (always a float in Python 3)
print(f"Quotient: {quotient_result}")

Quotient: 2.0

In [ ]:
# Floor Division (integer division)
floor_quotient = a // b  # floor_quotient will be 2 (integer part of the quotient)
print(f"Floor Quotient: {floor_quotient}")

Floor Quotient: 2

In [ ]:
# Modulo (remainder)
remainder_result = a % b # remainder_result will be 0
print(f"Remainder: {remainder_result}")

Remainder: 0

In [ ]:
# Exponentiation
power_result = a ** b  # power_result will be 100000 (10 raised to the power of 5)
print(f"Power: {power_result}")

Power: 100000

**2. Comparison Operators:** Compare two values and return a boolean (True or False).

In [ ]:
x = 10
y = 5

print(f"x > y: {x > y}")  # Output: True (x is greater than y)
print(f"x < y: {x < y}")  # Output: False
print(f"x >= y: {x >= y}")  # Output: True (x is greater than or equal to y)
print(f"x <= y: {x <= y}")  # Output: False
print(f"x == y: {x == y}")  # Output: False (x is equal to y)
print(f"x != y: {x != y}")  # Output: True (x is not equal to y)

x > y: True
x < y: False
x >= y: True
x <= y: False
x == y: False
x != y: True

**3. Logical Operators:** Combine conditional statements.

In [ ]:
p = True
q = False


print(f"p and q: {p and q}")  # Output: False (both p and q must be True)
print(f"p or q: {p or q}")    # Output: True (at least one of p or q must be True)
print(f"not p: {not p}")     # Output: False (negates the truth value of p)

p and q: False
p or q: True
not p: False

**4. Assignment Operators:** Assign values to variables.

In [ ]:
m = 5
m += 2  # Equivalent to m = m + 2; m will be 7
m -= 1  # Equivalent to m = m - 1; m will be 6
m *= 3  # Equivalent to m = m * 3; m will be 18
m /= 2 # Equivalent to m = m / 2; m will be 9.0

**5. Bitwise Operators:** Operate on individual bits of binary numbers.

In [ ]:
# Examples (less commonly used):
num1 = 10  # Binary: 1010
num2 = 4   # Binary: 0100

bitwise_and = num1 & num2  # Bitwise AND: 0000 (0)
bitwise_or = num1 | num2   # Bitwise OR: 1110 (14)
bitwise_xor = num1 ^ num2  # Bitwise XOR: 1110 (14)
bitwise_not = ~num1        # Bitwise NOT: -11 (inverts all bits)
left_shift = num1 << 1     # Left Shift: 10100 (20)
right_shift = num1 >> 1     # Right Shift: 0101 (5)

**6. Membership Operators:** Test for membership in a sequence.

In [ ]:
my_list = [1, 2, 3, 4]
print(f"2 in my_list: {2 in my_list}")    # True (2 is present in the list)
print(f"5 not in my_list: {5 not in my_list}") # True (5 is not present)

2 in my_list: True
5 not in my_list: True

**7. Identity Operators:** Compare the memory locations of two objects.

In [ ]:
x = 10
y = 10

print(f"x is y: {x is y}")   # True (x and y point to the same object in memory)
print(f"x is not y: {x is not y}") # False

x is y: True
x is not y: False

# Control Flow (if-elif-else)

**Control Flow Statements:**
Control flow statements in Python dictate the order in which code is executed. They allow you to make decisions and create branches in your program's logic.

**1. if Statement:**
Executes a block of code only if a specified condition is True.

In [ ]:
# Example 1: Checking if a number is positive
number = 10

if number > 0:
    print(f"{number} is a positive number.")

10 is a positive number.

In [ ]:
# Example 2: Checking if a string is empty
my_string = ""

if not my_string: # Equivalent to if len(my_string) == 0
    print("The string is empty.")

The string is empty.

In [ ]:
# Example 3: Checking if a list is not empty
my_list = []

if my_list:  # Checks if the list is not empty
    print(f"The list has {len(my_list)} elements.")
else:
    print("The list is empty")

The list is empty

**2. if-else Statement:**
Executes one block of code if a condition is True, and another block if the condition is False.

In [ ]:
# Example 1: Checking if a number is even or odd
number = 7
if number % 2 == 0:
    print(f"{number} is even.")
else:
    print(f"{number} is odd.")

7 is odd.

In [ ]:
# Example 2: Checking user access level
user_role = "admin"
if user_role == "admin":
  print("Access granted to admin panel.")
else:
  print("Access denied.")

Access granted to admin panel.

**3. if-elif-else Statement:**
Allows you to check multiple conditions sequentially.  The first condition that evaluates to True will execute its corresponding block of code.

In [ ]:
# Example 1: Grading based on score
score = 85

if score >= 90:
  print("Grade: A")
elif score >= 80:
  print("Grade: B")
elif score >= 70:
  print("Grade: C")
elif score >= 60:
  print("Grade: D")
else:
  print("Grade: F")

Grade: B

In [ ]:
# Example 2: Determining the day of the week
day_number = 3  # Let's say 3 represents Wednesday

if day_number == 1:
  day_name = "Monday"
elif day_number == 2:
  day_name = "Tuesday"
elif day_number == 3:
  day_name = "Wednesday"
elif day_number == 4:
  day_name = "Thursday"
elif day_number == 5:
  day_name = "Friday"
elif day_number == 6:
  day_name = "Saturday"
elif day_number == 7:
  day_name = "Sunday"
else:
  day_name = "Invalid day number"
print(f"The day is {day_name}")

The day is Wednesday

**Nested if-else statements:**
You can nest if-else statements inside each other to handle more complex conditions.

In [ ]:
# Example: Checking age and country for eligibility
age = 20
country = "US"

if age >= 18:
    if country == "US":
        print("Eligible to vote in the US.")
    else:
        print("Voting eligibility may vary.")
else:
    print("Not eligible to vote (under 18)")

Eligible to vote in the US.

# Loops (for and while)

**Loops in Python:**
Loops are control flow statements that allow you to repeatedly execute a block of code.  This is essential for automating repetitive tasks.  There are two main types of loops in Python: for loops and while loops.

**1. For Loop:**
A for loop is used for iterating over a sequence (like a list, tuple, string, or range) or other iterable objects.

In [ ]:
# Example 1: Iterating through a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
# Example 2: Iterating through a string
message = "Hello"
for letter in message:
    print(letter.upper()) # Print each letter in uppercase

H
E
L
L
O

In [ ]:
# Example 3: Iterating through a range of numbers
for i in range(5):  # Iterates from 0 up to (but not including) 5
    print(i)  # Output: 0 1 2 3 4

for i in range(2, 8):  # Iterates from 2 up to (but not including) 8
    print(i) # Output: 2 3 4 5 6 7

for i in range(1, 10, 2): # Iterates from 1 up to (but not including) 10, incrementing by 2
    print(i) # Output: 1 3 5 7 9

0
1
2
3
4
2
3
4
5
6
7
1
3
5
7
9

In [ ]:
# Example 4: Iterating through a list with index
colors = ["red", "green", "blue"]
for i in range(len(colors)): #Use the len() function to get the length of the list
    print(f"Color at index {i}: {colors[i]}")

Color at index 0: red
Color at index 1: green
Color at index 2: blue

In [ ]:
# Example 5: Iterating through a dictionary
student_grades = {"Alice": 85, "Bob": 92, "Charlie": 78}

for student, grade in student_grades.items(): # Use .items() to iterate through key-value pairs
    print(f"{student}: {grade}")

Alice: 85
Bob: 92
Charlie: 78

**2. While Loop:**
A while loop repeats a block of code as long as a specified condition is True.

In [ ]:
# Example 1: Simple counter
count = 0
while count < 5: # The condition must eventually become false or else it will become an infinite loop
    print(count)
    count += 1 # Increment the counter or the loop will never end

0
1
2
3
4

In [ ]:
# Example 2: User input validation
while True: #Loop forever unless it meets break condition
  user_input = input("Enter a positive number: ")
  if user_input.isdigit() and int(user_input) > 0:
    number = int(user_input)
    break # Exit the loop if the number is valid
  else:
      print("Invalid input. Please enter a positive number.")

Enter a positive number: 3

In [ ]:
# Example 3: Calculating the factorial of a number
number = 5
factorial = 1
i = 1
while i <= number:
  factorial *= i
  i += 1
print(f"The factorial of {number} is {factorial}")

The factorial of 5 is 120

**Loop control statements:**
- break: Exits the loop immediately.
- continue: Skips the current iteration and proceeds to the next.

In [ ]:
# Example 4: Using break and continue
for i in range(10):
    if i == 5:
        break  # Stop the loop when i is 5
    elif i == 3:
        continue  # Skip the iteration when i is 3
i

5

# Data Structures (Lists, Tuples, Dictionaries, Sets)

**Data Structures in Python:**
Data structures are specialized ways of organizing and storing data in a computer so that it can be used efficiently.  Python provides several built-in data structures, each with its own characteristics:


**1. Lists:**
- Ordered and mutable (changeable) sequences of items.
- Elements can be of different data types.
- Items are accessed by their index (position), starting from 0.
- Lists are dynamic; you can add or remove elements.

In [ ]:
# Examples:

my_list = [1, 2, 3, "apple", 4.5] #Example List
print(f"Original list: {my_list}")

Original list: [1, 2, 3, 'apple', 4.5]

In [ ]:
# Accessing elements:
print(f"Element at index 0: {my_list[0]}") #Access an item by its index
print(f"Element at index 3: {my_list[3]}")

Element at index 0: 1
Element at index 3: apple

In [ ]:
# Modifying elements:
my_list[0] = 10  # Change the element at index 0
print(f"List after modification: {my_list}")

List after modification: [10, 2, 3, 'apple', 4.5]

In [ ]:
# Adding elements:
my_list.append(6) # Add element to the end
print(f"List after appending: {my_list}")

my_list.insert(2, "banana")  # Insert at a specific index
print(f"List after inserting: {my_list}")

List after appending: [10, 2, 3, 'apple', 4.5, 6]
List after inserting: [10, 2, 'banana', 3, 'apple', 4.5, 6]

In [ ]:
# Removing elements:
my_list.remove("apple")  # Remove the first occurrence of an element
print(f"List after removing 'apple': {my_list}")


my_list.pop(3)  # Remove the element at index 3
print(f"List after popping element at index 3: {my_list}")

List after removing 'apple': [10, 2, 'banana', 3, 4.5, 6]
List after popping element at index 3: [10, 2, 'banana', 4.5, 6]

In [ ]:
# Other list methods:
# my_list.sort() #Sort the list (if possible) - error here because list contains # strings and integers
my_list_numbers = [1, 5, 2, 8, 3]
my_list_numbers.sort()
print(my_list_numbers)

my_list.reverse()  # Reverse the list
my_list.clear() # Remove all elements from the list
del my_list #Delete the list entirely

[1, 2, 3, 5, 8]

In [ ]:
# List comprehension: concise way to create lists
squares = [x**2 for x in range(5)]  # Generate squares of numbers from 0 to 4
print(squares)

[0, 1, 4, 9, 16]

**2. Tuples:**
- Ordered and immutable (unchangeable) sequences of items.
- Used for data that shouldn't be modified.

In [ ]:
# Examples:
my_tuple = (1, 2, 3)

print(f"My Tuple: {my_tuple}")
print(f"Element at index 1: {my_tuple[1]}") #Accessing element by index

#  my_tuple[0] = 10 # This will cause an error because tuples are immutable

My Tuple: (1, 2, 3)
Element at index 1: 2

In [ ]:
# Tuples are often used to return multiple values from a function
def get_coordinates():
  return (10, 20)

x, y = get_coordinates()

**3. Dictionaries:**
- Store data in key-value pairs.
- Keys must be unique and immutable (strings, numbers, or tuples).
- Values can be any data type.
- Efficient for lookups based on keys.

In [ ]:
# Examples:
my_dict = {"name": "Bob", "age": 25, "city": "New York"}

print(f"My Dictionary: {my_dict}")
print(f"Name: {my_dict['name']}") #Accessing value with key

My Dictionary: {'name': 'Bob', 'age': 25, 'city': 'New York'}
Name: Bob

In [ ]:
# Adding or changing elements:
my_dict["occupation"] = "Engineer" #Adding a new key-value pair
my_dict["age"] = 26 #Changing value of an existing key
print(f"Modified Dictionary: {my_dict}")

Modified Dictionary: {'name': 'Bob', 'age': 26, 'city': 'New York', 'occupation': 'Engineer'}

In [ ]:
# Removing elements:
del my_dict["city"] #Removing a key-value pair
print(f"Dictionary after deleting city: {my_dict}")

Dictionary after deleting city: {'name': 'Bob', 'age': 26, 'occupation': 'Engineer'}

In [ ]:
# Get all keys:
keys = my_dict.keys()
print(keys)

dict_keys(['name', 'age', 'occupation'])

In [ ]:
# Get all values:
values = my_dict.values()
print(values)

dict_values(['Bob', 26, 'Engineer'])

**4. Sets:**
- Unordered collections of unique elements.
- Used for membership testing and eliminating duplicate entries.
- Elements must be immutable.

In [ ]:
# Examples:
my_set = {1, 2, 2, 3, 4} # Duplicates are automatically removed


print(f"My set: {my_set}")

My set: {1, 2, 3, 4}

In [ ]:
# Adding and removing elements:
my_set.add(5)  # Adding an element
my_set.remove(2)  # Removing an element


print(f"Set after adding 5 and removing 2: {my_set}")

Set after adding 5 and removing 2: {1, 3, 4, 5}

In [ ]:
# Check if an element is in a set:
print(f"Is 3 in the set?: {3 in my_set}")

Is 3 in the set?: True

In [ ]:
#Set operations (union, intersection, difference)
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2 # or set1.union(set2)
intersection_set = set1 & set2 # or set1.intersection(set2)
difference_set = set1 - set2 # or set1.difference(set2)

print(f"Union: {union_set}")
print(f"Intersection: {intersection_set}")
print(f"Difference: {difference_set}")

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference: {1, 2}

# 6. Functions
**Functions** are reusable blocks of code that perform specific tasks.

In [ ]:
# Examples
def greet(name):
  """This function greets the person passed in as a parameter."""
  print(f"Hello, {name}!")

greet("Alice") # call the function

Hello, Alice!

In [ ]:
def add_numbers(x, y):
  """This function adds two numbers and returns the sum."""
  sum = x + y
  return sum

result = add_numbers(5, 3)  # Call the function and store the returned value
print(f"The sum is: {result}")

The sum is: 8

In [ ]:
def calculate_area(length, width):
  """This function calculates the area of a rectangle."""
  area = length * width
  return area

rectangle_length = 10
rectangle_width = 5
area_result = calculate_area(rectangle_length, rectangle_width)
print(f"The area of the rectangle is {area_result}")

The area of the rectangle is 50

In [ ]:
def is_even(number):
  """This function checks if a number is even."""
  if number % 2 == 0:
    return True  # Return True if even
  else:
    return False  # Return False if odd

number_to_check = 8
if is_even(number_to_check):
    print(f"{number_to_check} is even.")
else:
    print(f"{number_to_check} is odd.")

8 is even.

In [ ]:
def factorial(n):
    """This function calculates the factorial of a non-negative integer."""
    if n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result

number = 5
fact = factorial(number)
print(f"Factorial of {number} is {fact}")

Factorial of 5 is 120

In [ ]:
# Function with default argument values
def greet_with_message(name, message="Hello"):
  """This function greets the person with a custom message, defaulting to 'Hello' if no message is provided."""
  print(f"{message}, {name}!")

greet_with_message("Bob")       # Outputs "Hello, Bob!"
greet_with_message("Alice", "Hi")  # Outputs "Hi, Alice!"

Hello, Bob!
Hi, Alice!

In [ ]:
# Function with variable number of arguments (*args)
def sum_all_numbers(*args):
  """This function calculates the sum of all numbers provided."""
  total = 0
  for number in args:
    total += number
  return total

result1 = sum_all_numbers(1, 2, 3)
result2 = sum_all_numbers(4, 5, 6, 7, 8)
print(f"Sum of 1,2,3 is {result1}")
print(f"Sum of 4,5,6,7,8 is {result2}")

Sum of 1,2,3 is 6
Sum of 4,5,6,7,8 is 30

In [ ]:
# Function with keyword arguments (**kwargs)
def print_details(**kwargs):
  """This function prints the provided keyword arguments."""
  for key, value in kwargs.items():
    print(f"{key}: {value}")

print_details(name="Charlie", age=30, city="London")

name: Charlie
age: 30
city: London

**Lambda Functions (Anonymous Functions)**

A lambda function is a small, anonymous function defined using the lambda keyword.
They are useful for short, simple operations where defining a full function using def is unnecessary.

**Syntax:**
**lambda arguments: expression**

In [ ]:
# Example 1: Squaring a number
square = lambda x: x * x
print(square(5))  # Output: 25

25

In [ ]:
# Example 2: Adding two numbers
add = lambda x, y: x + y
print(add(3, 7))  # Output: 10

10

In [ ]:
# Example 3: Checking if a number is even
is_even = lambda x: x % 2 == 0
print(is_even(4))  # Output: True
print(is_even(7))  # Output: False

True
False

**Map function**
The map() function applies a given function to each item of an iterable (like a list, tuple, etc.) and returns a map object (an iterator) containing the results.

In [ ]:
# Example: Square each number in a list
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))  # Using a lambda function
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
# Example: Convert strings to uppercase in a list
words = ["apple", "banana", "cherry"]
uppercase_words = list(map(str.upper, words)) # using built in string method upper
print(uppercase_words) # Output: ['APPLE', 'BANANA', 'CHERRY']

['APPLE', 'BANANA', 'CHERRY']

**Filter Function**
The filter() function creates an iterator that filters elements from an iterable based on a given function.  The function should return True for elements to be included in the result, and False otherwise.

In [ ]:
# Example: Filter even numbers from a list
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # Output: [2, 4, 6]

[2, 4, 6]

In [ ]:
# Example: Filter strings longer than 5 characters
words = ["apple", "banana", "kiwi", "orange"]
long_words = list(filter(lambda word: len(word) > 5, words))
print(long_words)  # Output: ['banana', 'orange']

['banana', 'orange']

**Reduce function**
The reduce() function applies a given function cumulatively to the items of an iterable, from left to right, so as to reduce the iterable to a single value.
**Note:** reduce() is not a built-in function in Python 3; it needs to be imported from the functools module.

In [ ]:
from functools import reduce

# Example: Calculate the product of all numbers in a list
numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)  # Output: 120

120

In [ ]:
# Example: Find the maximum value in a list
numbers = [5, 2, 8, 1, 9, 4]
maximum = reduce(lambda x, y: x if x > y else y, numbers) #inline if condition
print(maximum) # Output: 9

9

**List comprehension**
Create a list of squares of even numbers from 0 to 9

In [ ]:
# List comprehension with if condition
even_squares = [x**2 for x in range(10) if x % 2 == 0]
print(even_squares)

[0, 4, 16, 36, 64]

In [ ]:
# List comprehension with if-else condition
numbers = [1, 2, 3, 4, 5, 6]
result = ["even" if x % 2 == 0 else "odd" for x in numbers]
result

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [ ]:
# Example: Create a list of numbers, doubling even numbers and tripling odd numbers
numbers = [1, 2, 3, 4, 5, 6]
result = [num * 2 if num % 2 == 0 else num * 3 for num in numbers]
print(result) # Output: [3, 4, 9, 8, 15, 12]

[3, 4, 9, 8, 15, 12]

**Dictionary comprehension**
Create a dictionary where keys are numbers from 1 to 5 and values are their squares

In [ ]:
squares_dict = {x: x**2 for x in range(1, 6)}
squares_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# 7. File Handling

**File handling** in Python allows you to interact with files on your computer, such as reading data from a file or writing data to a file.

**Opening a file:**
Use the `open()` function to open a file.  Specify the file path and the mode (read, write, append).


**'r' (read mode):**  Opens the file for reading.  This is the default mode if you don't specify one.

In [ ]:
%%writefile my_new_file.txt
This is the first line of my new file.
This is the second line.
And here's a third one.

Writing my_new_file.txt

In [ ]:
file = open("my_new_file.txt", "r")  # Replace with your file path
contents = file.read()
print(contents)
file.close()

This is the first line of my new file.
This is the second line.
And here's a third one.

**'w' (write mode):** Opens the file for writing. If the file doesn't exist, it will be created. If it does exist, its contents will be overwritten.

In [ ]:
file = open("my_new_file.txt", "w") # Replace with your file path
file.write("This is some text.\n")
file.write("This is another line.\n")
file.close()

**'a' (append mode):** Opens the file for writing, but appends new data to the end of the file instead of overwriting it.

In [ ]:
file = open("my_new_file.txt", "a") # Replace with your file path
file.write("This is appended text.\n")
file.close()

In [ ]:
# Reading data line by line

file = open("my_new_file.txt", "r") # Replace with your file path
for line in file:
  print(line, end="") # The end="" prevents extra blank lines
file.close()

This is some text.
This is another line.
This is appended text.

In [ ]:
# Writing data line by line

file = open("another_file.txt", "w") # Replace with your file path
file.write("First line\n")
file.write("Second line\n")
file.write("Third line\n")
file.close()

In [ ]:
# Working with CSV files (Comma-Separated Values)

# To handle CSV files effectively, it is recommended to use the `csv` module #from Python's standard library.
import csv

In [ ]:
# Writing to a CSV file
data = [["Name", "Age", "City"],
        ["Alice", 30, "New York"],
        ["Bob", 25, "Los Angeles"]]

with open("my_data.csv", "w", newline="") as file:
  writer = csv.writer(file)
  writer.writerows(data)

In [ ]:
# Reading a CSV file
with open("my_data.csv", "r") as file:
  reader = csv.reader(file)
  for row in reader:
    print(row)

['Name', 'Age', 'City']
['Alice', '30', 'New York']
['Bob', '25', 'Los Angeles']

In [ ]:
# Using with statement:

# The with statement ensures that the file is automatically closed, even if errors occur.

with open("my_new_file.txt", "r") as file:  # Replace with your file path
    contents = file.read()
    print(contents) # File automatically closes when exiting the block

This is some text.
This is another line.
This is appended text.

# 8. Exception Handling

Exception handling is a crucial aspect of writing robust Python code.  It allows you to gracefully handle errors that might occur during program execution, preventing unexpected crashes and providing informative messages to the user.

**try...except Block:**
The basic mechanism for exception handling is the `try...except` block. Code that might raise an exception is placed within the `try` block. If an exception occurs, the corresponding `except` block is executed.

In [ ]:
# Example 1: Handling ZeroDivisionError
try:
    result = 10 / 0  # This will raise a ZeroDivisionError
except ZeroDivisionError:
    print("Error: Division by zero.")

Error: Division by zero.

In [ ]:
# Example 2: Handling TypeError
try:
    result = "hello" + 10  # This will raise a TypeError
except TypeError:
    print("Error: Cannot add a string and a number.")

Error: Cannot add a string and a number.

In [ ]:
# Example 3: Handling FileNotFoundError
try:
    file = open("nonexistent_file.txt", "r")  # Try to open a file that doesn't exist
except FileNotFoundError:
    print("Error: File not found.")

Error: File not found.

In [ ]:
# Example 4: Handling multiple exceptions
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ZeroDivisionError:
    print("Error: Division by zero.")
except ValueError:
    print("Error: Invalid input. Please enter a number.")
except Exception as e:  # Catching any other exception
    print(f"An unexpected error occurred: {e}")

Enter a number: 2

In [ ]:
# Example 5: Using finally block (always executes)
try:
    file = open("my_file.txt", "r")
    # Perform file operations
except FileNotFoundError:
    print("Error: File not found.")
finally:
    if 'file' in locals() and not file.closed:
        file.close()
    print("File operation completed (or attempted).")

Error: File not found.
File operation completed (or attempted).

In [ ]:
# Example 6: Raising exceptions
def validate_age(age):
    if age < 0:
        raise ValueError("Age cannot be negative.")  # Raise a ValueError explicitly
    elif age > 120:
        raise ValueError("Age is too high") # Raise a ValueError explicitly
    else:
      print("Age seems valid.")


try:
    validate_age(-5) # This will raise a ValueError
except ValueError as e:
    print(f"Error: {e}")


try:
    validate_age(150) # This will raise a ValueError
except ValueError as e:
    print(f"Error: {e}")

try:
    validate_age(25)
except ValueError as e:
    print(f"Error: {e}")

Error: Age cannot be negative.
Error: Age is too high
Age seems valid.

In [ ]:
# Example 7: User defined exceptions
class InvalidInputError(Exception):
    pass

def process_input(data):
  if not isinstance(data, int) or data < 0:
    raise InvalidInputError("Input must be a non-negative integer.")
  print("Data processed successfully.")

try:
  process_input("abc") #This will raise an exception
except InvalidInputError as e:
  print(f"Error: {e}")

try:
  process_input(-5)
except InvalidInputError as e:
  print(f"Error: {e}")

try:
  process_input(10) #This won't raise an exception
except InvalidInputError as e:
  print(f"Error: {e}")

Error: Input must be a non-negative integer.
Error: Input must be a non-negative integer.
Data processed successfully.

# 9. Modules and Packages

**Modules:**
A module is a file containing Python definitions and statements.  Modules provide a way to organize your code into reusable units.  You can import modules into your scripts to use their functions, classes, and variables.

In [ ]:
# Example 1: Using the `math` module

import math

In [ ]:
# Calculate the square root of a number
number = 25
sqrt_result = math.sqrt(number)
print(f"The square root of {number} is {sqrt_result}")

The square root of 25 is 5.0

In [ ]:
# Calculate the sine of an angle (in radians)
angle_rad = math.pi / 2  # 90 degrees in radians
sine_result = math.sin(angle_rad)
print(f"The sine of {angle_rad} radians is {sine_result}")

The sine of 1.5707963267948966 radians is 1.0

In [ ]:
# Accessing constants
print(f"The value of pi is: {math.pi}")

The value of pi is: 3.141592653589793

In [ ]:
%%writefile my_module.py

def greet(name):
    print(f"Hello, {name} from my_module!")

def add(x, y):
    return x + y

Overwriting my_module.py

In [ ]:
import sys
import importlib.util

# Specify the path to your module
module_path = '/content/my_module.py'

# Create a module spec
spec = importlib.util.spec_from_file_location("my_module", module_path)

# Load the module
my_module = importlib.util.module_from_spec(spec)
spec.loader.exec_module(my_module)

In [ ]:
# Example 2: Custom module
# Create a file named `my_module.py` with the following content:

# my_module.py:
# def greet(name):
#     print(f"Hello, {name} from my_module!")

# def add(x, y):
#     return x + y

# In your main Python file:

# import my_module

my_module.greet("Alice")
result = my_module.add(5, 3)
print(result)

Hello, Alice from my_module!
8

**Packages**
A package is a way to structure your modules into a directory hierarchy. Packages help organize related modules and prevent naming conflicts.

In [ ]:
# from import statement
# from my_module import greet, add
greet("Bob")
result = add(10,5)
print(result)

# from import * statement
# from my_module import *
greet("Charlie")

Hello, Bob!
15
Hello, Charlie!

In [ ]:
%%writefile /content/my_package/__init__.py

Writing /content/my_package/__init__.py

In [ ]:
%%writefile /content/my_package/module1.py

def my_function():
    print("This is from module1 in my_package")

Writing /content/my_package/module1.py

In [ ]:
# Example 3: Creating a simple package

# Create a directory named `my_package`. Inside `my_package`, create an empty file named `__init__.py` and another Python file named `module1.py`:


# my_package/__init__.py  (empty file)

# my_package/module1.py
# def my_function():
#     print("This is from module1 in my_package")

In [ ]:
import sys
import importlib.util

# Specify the path to your package directory
package_path = '/content/my_package'

# Specify the path to your module file
module_path = '/content/my_package/module1.py'

# Create a module spec for the module file
spec = importlib.util.spec_from_file_location("my_package.module1", module_path)

# Load the module
my_package_module1 = importlib.util.module_from_spec(spec)
spec.loader.exec_module(my_package_module1)

# Add the package path to sys.path if it's not already there
if package_path not in sys.path:
    sys.path.append(package_path)

In [ ]:
# To use the module in your main program:

import my_package.module1
my_package.module1.my_function()

# from import statement
from my_package.module1 import my_function
my_function()

This is from module1 in my_package
This is from module1 in my_package

In [ ]:
# Example 4: Handling packages with multiple modules
%%writefile /content/my_package/__init__.py

# my_package/__init__.py
__all__ = ["module1", "module2"] #specify modules available using the * notation

Overwriting /content/my_package/__init__.py

In [ ]:
# Example 4: Handling packages with multiple modules
%%writefile /content/my_package/module2.py

# my_package/module2.py
def another_function():
    print("This is from module2 in my_package")

Writing /content/my_package/module2.py

In [ ]:
# Specify the path to your module file
module_path = '/content/my_package/module2.py'

# Create a module spec for the module file
spec = importlib.util.spec_from_file_location("my_package.module2", module_path)

# Load the module
my_package_module2 = importlib.util.module_from_spec(spec)
spec.loader.exec_module(my_package_module2)

In [ ]:
# In your main Python program:

# Import module1 and module2 directly from my_package
from my_package import module1, module2

module1.my_function()  # Valid
module2.another_function()  # Valid

# Alternatively, you can still use import * and it should work now
from my_package import *
module1.my_function()  # Valid
module2.another_function()  # Valid

#Note: `my_function` is not available in the global namespace using `from my_package import *`
#       and needs to be called using `module1.my_function()`

This is from module1 in my_package
This is from module2 in my_package
This is from module1 in my_package
This is from module2 in my_package

**10. Classes and Objects**

Classes are blueprints for creating objects.  Objects are instances of classes.  Classes define the attributes (data) and methods (functions) that objects of that class will have.

In [ ]:
# Example 1: A simple class
class Dog:
    def __init__(self, name, breed):
        self.name = name  # Instance variable
        self.breed = breed # Instance variable

    def bark(self):
        print("Woof!")

    def describe(self):
        print(f"My name is {self.name} and I'm a {self.breed}.")

In [ ]:
# Creating objects (instances) of the class:
my_dog = Dog("Buddy", "Golden Retriever")
your_dog = Dog("Lucy", "Labrador")

In [ ]:
# Accessing attributes and calling methods
print(my_dog.name)      # Output: Buddy
my_dog.bark()          # Output: Woof!
my_dog.describe()      # Output: My name is Buddy and I'm a Golden Retriever.
print(your_dog.breed)   # Output: Labrador
your_dog.bark()        # Output: Woof!
your_dog.describe()    # Output: My name is Lucy and I'm a Labrador.

Buddy
Woof!
My name is Buddy and I'm a Golden Retriever.
Labrador
Woof!
My name is Lucy and I'm a Labrador.

In [ ]:
# Example 2:  A class with a class variable
class Circle:
    pi = 3.14159  # Class variable (shared by all instances)

    def __init__(self, radius):
        self.radius = radius  # Instance variable

    def area(self):
        return Circle.pi * self.radius**2

In [ ]:
circle1 = Circle(5)
circle2 = Circle(10)

print(circle1.area())  # Output: 78.53975
print(circle2.area())  # Output: 314.159
print(Circle.pi) # Access class variable using class name

78.53975
314.159
3.14159

In [ ]:
# Example 3: Inheritance
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        print("Generic animal sound")


class Cat(Animal):  # Cat inherits from Animal
    def speak(self):
        print("Meow!")


class Dog(Animal): #Dog inherits from Animal
    def speak(self):
        print("Woof!")

In [ ]:
my_cat = Cat("Whiskers")
my_dog = Dog("Buddy")

my_cat.speak()  # Output: Meow!
my_dog.speak()  # Output: Woof!

Meow!
Woof!

In [ ]:
# Example 4: Polymorphism
animals = [Cat("Whiskers"), Dog("Buddy")]

for animal in animals:
    animal.speak()  # Calls the appropriate speak method for each object (polymorphism)

Meow!
Woof!

In [ ]:
# Example 5: Encapsulation

class BankAccount:
    def __init__(self, account_number, balance):
        self._account_number = account_number  # Protected attribute (convention)
        self.__balance = balance # Private attribute (name mangling)

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            print(f"Deposited {amount}. New balance: {self.__balance}")
        else:
            print("Invalid deposit amount.")

    def get_balance(self):
        return self.__balance

account = BankAccount("12345", 1000)
account.deposit(500)
print(account.get_balance())
# print(account.__balance) #This will cause an AttributeError because __balance is private

Deposited 500. New balance: 1500
1500

In [ ]:
# Example 6: Abstraction

from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height
    def area(self):
        return self.width * self.height

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius
    def area(self):
        return 3.14159 * self.radius**2

rectangle = Rectangle(5, 10)
circle = Circle(5)

print(rectangle.area()) # Output: 50
print(circle.area()) #Output: 78.53975

50
78.53975